<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>SpellBook</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="angular-material/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/g/jquery@1,jquery.ui@1.10%28jquery.ui.core.min.js+jquery.ui.widget.min.js+jquery.ui.mouse.min.js+jquery.ui.sortable.min.js%29"></script>
    <script src="/lodash/index.js"></script>

    <script type="text/javascript">
        var becks = {
           log: function(argsArr){
               // console.log(argsArr);
           }
       }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.0.6/bluebird.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="https://rawgithub.com/craftyjs/Crafty/release/dist/crafty-min.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/js-data/dist/js-data.min.js"></script>
    <script src="/js-data-angular/dist/js-data-angular.min.js"></script>
    <script src="/angular-ui-sortable/dist/sortable.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-aria.min.js"></script>
    <script src="/angular-material/angular-material.min.js"></script>
    <script src="/main.js"></script>
    
</head>
<body ng-app="FullstackGeneratedApp">
    <script>
        // google analytics data layer variables
        dataLayer = [{
            // 'pageCategory': 'signup',
            // 'visitorType': 'high-value'
        }];
    </script>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5GZ5Q7"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5GZ5Q7');</script>
    <!-- End Google Tag Manager -->
    <navbar></navbar>
    <div id="main" ui-view="main"></div>
    <footer></footer>
</body>
</html>
