<admin-stats></admin-stats>

<div id="users" class="panel">
	<div class="panel-heading">
		<h3>Users</h3>
	</div>

	<div class="panel-body">
		<!--Search options for users:
				-search by name
				-score (range)
			-->
		<div class="clearfix">
			<div class="form-inline">
				<div class="form-group col-sm-4 col-xs-12">
					<label>User: </label>
					<input type="text" class="form-control" ng-model="searchUsers" placeholder="Search by username"/>

				</div>

				<div class="form-group col-sm-4 col-xs-12">
					<label>Min score: </label>
					<div class="input-group">
						<input type="number" class="form-control" ng-model="score.min" placeholder="0"/>
						<div class="input-group-addon">%</div>
					</div>

				</div>

				<div class="form-group col-sm-4 col-xs-12">
					<label>Max score: </label>
					<div class="input-group">
						<input type="number" class="form-control" ng-model="score.max" placeholder="100"/>
						<div class="input-group-addon">%</div>

					</div>
				</div>
			</div>
		</div>

		<admin-users class="col-sm-4 col-xs-6" ng-repeat="user in users | filter:{username: searchUsers} | rangeFilter: score" user="user" percent="findPercentage"><admin-users>
	</div>
</div>