<admin-stats></admin-stats>

<div id="users" class="panel">
	<div class="panel-heading">
		<h3>Users</h3>
	</div>

		<!--Search options for users:
				-search by name
				-score (range)
			-->
		<div class="clearfix">
			<div class="form-inline panel-body">
				<div class="form-group col-sm-4 col-xs-12">
					<label>User: </label>
					<input type="text" class="form-control" ng-model="searchUsers" placeholder="Search by username"/>

				</div>

				<div class="form-group col-sm-4 col-xs-12">
					<label>Min score: </label>
					<div class="input-group">
						<input type="number" class="form-control" ng-model="score.min" placeholder="0"/>
						<div class="input-group-addon">%</div>
					</div>

				</div>

				<div class="form-group col-sm-4 col-xs-12">
					<label>Max score: </label>
					<div class="input-group">
						<input type="number" class="form-control" ng-model="score.max" placeholder="100"/>
						<div class="input-group-addon">%</div>

					</div>
				</div>
			</div>
		</div>

		<div class="panel-body">
			<admin-users class="col-sm-4 col-xs-6" ng-repeat="user in users | filter:{username: searchUsers} | rangeFilter: score" user="user" percent="findPercentage" ng-show="$index<3 || showAllUsers"><admin-users>
		</div>

		<div ng-hide="showAllUsers" ng-click="showAllUsers = true" class="showmore text-center panel-body">
			<span class="glyphicon glyphicon-triangle-right"><span> Show more
		</div>
		<div ng-show="showAllUsers" ng-click="showAllUsers = false" class="showmore text-center panel-body">
			<span class="glyphicon glyphicon-triangle-top"><span> Hide
		</div>
</div>

<div id="stories" class="panel">
	<div class="panel-heading">
		<h3>Stories</h3>
	</div>

	<!--Search options for stories:
			-search by title
			-search by author
			-concepts
		-->
	<div class="clearfix">
		<div class="form-inline panel-body">
			<div class="form-group col-sm-4 col-xs-12">
				<label>Title: </label>
				<input type="text" class="form-control" ng-model="searchTitle" placeholder="Search by title"/>

			</div>

			<div class="form-group col-sm-4 col-xs-12">
				<label>Author: </label>
				<input type="text" class="form-control" ng-model="searchAuthor" placeholder="Search by author"/>

			</div>

			<div class="col-sm-12 col-md-4 nav_button" dropdown >
				<button id="single-button" type="button" class="btn btn-default btn-block" dropdown-toggle ng-disabled="disabled">
				Filter by concepts<span class="caret"></span>
				</button>


				<ul class="list-group dropdown-menu concept-menu" role="menu" aria-labelledby="single-button">
					<li ng-repeat="concept in concepts" ng-click="toggleConcept(concept, $event)" class="list-group-item">
						<input type="checkbox" ng-model="clickedConcepts[concept]"/> {{concept}}
					</li>
				</ul>
	        </div>


		</div>
	</div>


	<div class="panel-body">
		<admin-stories ng-repeat="story in stories| filter: {title:searchTitle, author: {username: searchAuthor}} | inArray: clickedConcepts track by $index"  ng-show="$index<3 || showAll" class="col-sm-4 col-xs-6"></admin-stories>
	</div>
	<div ng-hide="showAll" ng-click="showAll = true" class="showmore text-center panel-body">
		<span class="glyphicon glyphicon-triangle-right"><span> Show more
	</div>
	<div ng-show="showAll" ng-click="showAll = false" class="showmore text-center panel-body">
		<span class="glyphicon glyphicon-triangle-top"><span> Hide
	</div>
</div>

