.concept-menu{
	margin:0 !important;
	width:100%;
	padding-left: 15px;
	padding-right:15px;
}

.concept-menu.dropdown-menu{
	background-color:transparent;
	box-shadow:none;
	border:0;
	-webkit-box-shadow:none;
}


.axis{
	font-size:small;
}
.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}

.showmore{
	padding:1%;
	
}