$brown: #45320b;
.go-back, .go-forward{
	position:absolute;
	top:50%;
	z-index:20;
	font-size:2.5em;

	&:hover{
		font-size:3em;
	}
}
.go-back{
	left: -6%;
}

.go-forward{
	right:-6%;
}

#canvas, #next-canvas, #previous-canvas{
  width: auto;
  background-color:transparent; 
}

#cr-stage, #cr-stage-next, #cr-stage-previous{
    background-size: contain;
    background-repeat: no-repeat;

}

.bottom-page .panel{
	margin-top:2vh;

}


.left{
	padding-left:1%;
	z-index:0 !important;
	transform-origin: right;
	-webkit-transform-origin: right;

	transform-style: preserve-3d;
	transition:all 1.5s;
	transition-timing-function: cubic-bezier(0.2, 0.3, 0.3, 0.2);


	-webki-transform-style: preserve-3d;
	-webki-transition: all 1.5s;
	-webki-transition-timing-function: cubic-bezier(0.2, 0.3, 0.3, 0.2);
	&.flipped{
		transform: rotateY(90deg) rotate(-3deg);
		-webkit-transform: rotateY(90deg) rotate(-3deg);

		&.left-side-page{

			-webkit-box-shadow:-9px 10px 12px 6px rgba(0,0,0,0.08), inset -10px 5px 100px rgba(black, 0.3);
			-moz-box-shadow:-9px 10px 12px 6px rgba(0,0,0,0.08), inset -10px 5px 100px rgba(black, 0.3);
			box-shadow:-9px 10px 12px 6px rgba(0,0,0,0.08), inset -10px 5px 100px rgba(black, 0.3);
			border-left:none;
		}

	}
}

.storyText{
    font-size: 1.5em;
}

.promptText{
	font-size: medium;
}

.right{
	padding-left:1%;
	padding-right:0;
	transform-origin: left;
	-webkit-transform-origin: left;

	transform-style: preserve-3d;
	transition:all 1.5s;
	transition-timing-function: cubic-bezier(0.2, 0.3, 0.3, 0.2);


	-webki-transform-style: preserve-3d;
	-webki-transition:all 1.5s;
	-webki-transition-timing-function: cubic-bezier(0.2, 0.3, 0.3, 0.2);
	&.flipped{
		transform: rotateY(-90deg) rotate(-3deg);
		-webkit-transform: rotateY(-90deg) rotate(-3deg);

		&.right-side-page{
			-webkit-box-shadow: 9px 10px 12px 6px rgba(0,0,0,0.08), inset 10px 5px 100px rgba(black, 0.3);
			-moz-box-shadow: 9px 10px 12px 6px rgba(0,0,0,0.08), inset 10px 5px 100px rgba(black, 0.3);
			box-shadow: 9px 10px 12px 6px rgba(0,0,0,0.08), inset 10px 5px 100px rgba(black, 0.3);
			border-right:none;
		}

	}
}

.right-flip{
	transform-origin: right;
	transform-style: preserve-3d;
	transition:all 1.5s;
	transition-timing-function:ease;

	-webkit-transform-origin: right;
	-webkit-transform-style: preserve-3d;
	-webkit-transition:all 1.5s;
	-transition-timing-function:ease;

	position:absolute;
	padding-left:1%;
	padding-right:15px;
	width:50%;
	z-index:11;

	&.flipped{
		transform: rotateY(-90deg) rotate(3deg);
		-webkit-transform: rotateY(-90deg) rotate(3deg);
		height:0;

		&.left-side-page{

			-webkit-box-shadow:-9px 10px 12px 6px rgba(0,0,0,0.08), inset -10px 5px 100px rgba(black, 0.3);
			-moz-box-shadow:-9px 10px 12px 6px rgba(0,0,0,0.08), inset -10px 5px 100px rgba(black, 0.3);
			box-shadow:-9px 10px 12px 6px rgba(0,0,0,0.08), inset -10px 5px 100px rgba(black, 0.3);
			border-left:none;
		}


	}

}

.left-flip{
	transform-origin: left;
	transform-style: preserve-3d;
	transition: all 1.5s;
	transition-timing-function:ease;

	-webkit-transform-origin: left;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 1.5s;

	position:absolute;
	padding-left:1%;
	padding-right:0;
	right:0;
	z-index:10 !important;

	&.flipped{
		transform: rotateY(90deg) rotate(3deg);
		-webkit-transform: rotateY(90deg) rotate(3deg);
		height:0;

		&.right-side-page{

			-webkit-box-shadow: 9px 10px 12px 6px rgba(0,0,0,0.08), inset 10px 5px 100px rgba(black, 0.3);
			-moz-box-shadow: 9px 10px 12px 6px rgba(0,0,0,0.08), inset 10px 5px 100px rgba(black, 0.3);
			box-shadow: 9px 10px 12px 6px rgba(0,0,0,0.08), inset 10px 5px 100px rgba(black, 0.3);

			border-right:none;

		}

	}



}

.left-beneath{
	padding-left:1%;
	padding-right:15px;
	width:50%;

	left:0;
}
.right-beneath{
	padding-left:1%;
	padding-right:0;
	width:50%;

	right:0;
}
.right-beneath, .left-beneath{
	position:absolute;
	z-index:-1;
}

.right-flip{
	z-index:10 !important;
}
.right{
	z-index:0 !important;
	
}





.left-side-page, .right-side-page{
	padding:1%;
	z-index:-10;
	position:absolute;
	width:50%;
    bottom:4%;
    top:0;
}

.book-cover{
	z-index:-12;
	position:absolute;
    bottom:3%;
    top:-1%;
    background-color:$brown;
    left:-2%;
    right:-2%;
    -webkit-box-shadow: 3px 7px 13px 5px rgba(0,0,0,0.62);
	-moz-box-shadow: 3px 7px 13px 5px rgba(0,0,0,0.62);
	box-shadow: 3px 7px 13px 5px rgba(0,0,0,0.62);
	border-radius:2px;

}


#page{
	position:absolute;
	width:86%;
	left:7%;
	padding:2% 0% 2% 0%;
}

.left-side-page{
    border-left:3px double rgba(black, .35);
	left:0;
	-webkit-box-shadow: -9px 10px 12px 6px rgba(0,0,0,0.08), inset -10px 5px 150px rgba(black, 0.3);
	-moz-box-shadow: -9px 10px 12px 6px rgba(0,0,0,0.08),inset -10px 5px 150px rgba(black, 0.3);
	box-shadow: -9px 10px 12px 6px rgba(0,0,0,0.08), inset 10px 0px 150px rgba(black, 0.3);

	background: #ffffff; /* Old browsers */



}

.right-side-page{
    border-right:3px double rgba(black, .35);
	right:0;
	-webkit-box-shadow: 9px 10px 12px 6px rgba(0,0,0,0.08), inset -10px 0px 150px rgba(black, 0.3);
	-moz-box-shadow: 9px 10px 12px 6px rgba(0,0,0,0.08), inset -10px 0px 150px rgba(black, 0.3);
	box-shadow: 9px 10px 12px 6px rgba(0,0,0,0.08), inset -10px 0px 150px rgba(black, 0.3);
	

	background: #f2f2f2; /* Old browsers */




}