$purple: #8843b9;
$turqoise: #18b8c2;
$green: #b8f166;
  h3{
    font-family:$font-title;
  }


#addTheStory {
    padding:10%;
    background: url('images/book.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
    width:60%;
    height:80vh;
    text-align:center;

  .required {
    color: $purple;
    font-weight: 600;
    padding: 10px 0px 0px 5px;
  }

  label {
    padding-top: 2%;
    color:#e7c69c;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #80643c;
  }

  input, textarea{
    text-align:center;
    margin:3%;
    padding:1%;
    opacity:0.4;
    color:black !important;
    font-family:$font-default;

  }

  ::-webkit-input-placeholder {
   color: black;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: black;  
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: black;  
  }

  :-ms-input-placeholder {  
     color: black;  
  }




.create-btn{
  background-color: $purple;
  color:white;

  font-family: $font-title;
  margin-top:3%;
}



}