.glossary{
	.definition{
		padding:1%;
	}

	.panel.tool{
		margin-top:1%;
	}
	h3{
		font-family:$font-title;
	}

	.tool-drop{
		border: 2px solid $turqoise;
		border-radius:6px;
		padding:0px;
		.panel.tool{
			margin:0px;
		}
		.spellTool{
			border-bottom-left-radius: 0px;
			border-bottom-right-radius:0px;
		}
	}
}