



<div class="container" id="createTheStore">

 <!--  <h1>Create My Store</h1> -->

 <!--  <pre>{{user}}</pre> -->



<div>
  <div class="row addStory">
        <h2>Create Your Own Story Book</h2>
        <!-- begin form div -->
    <div>
    <form role="form" ng-submit='createStory()'>

      <div class="control-group">
        <label for="title" class="control-label">
          Story Title<span class="required">*</span>
        </label>
        <div class="controls">
          <input ng-model="title" name="title" type="text" value="" id="title">
        </div>
      </div>

      <div class="control-group">
        <label for="description" class="control-label">
          Story Description<span class="required">*</span>
        </label>
        <div class="controls">
          <input ng-model="description" name="description" type="text" value="" id="description">
        </div>
      </div>

      <div class="control-group">
        <label for="difficulty" class="control-label">
          Story Difficulty
        </label>
        <div class="controls">
          <input ng-model="difficulty" name="difficulty" type="text" value="" id="difficulty">
        </div>
      </div>

      <div class="control-group">
        <label for="cover" class="control-label">
          Store Cover Image
        </label>
        <div class="controls">
          <input ng-model="cover" name="cover" type="text" value="" id="cover">
        </div>
      </div>

      <div class="control-group">
        <label for="concepts" class="control-label">
          Story Concepts
        </label>
        <div class="controls">
          <select multiple placeholder="Concepts" ng-model="concepts" name="concepts">
            <option value="For Loop">For Loop</option>
            <option value="While Loop">While Loop</option>
            <option value="If-statements">If-statements</option>
            <option value="Conditionals">Conditionals</option>
            <option value="Expressions">Expressions</option>
            <option value="Movement">Movement</option>
          </select>
        </div>
      </div>

    

      <div class="form-actions">
        <button type="submit" class="btn btn-large btn-primary">Create Story</button>
      </div>

  
    </form>
    </div>
    <!-- end form div -->
  </div>
</div>
</div>
