<div class="panel">
	
	<div class="panel-heading">
		<div class="clearfix">
			<h3 class="inline col-sm-3 col-xs-12 btnpadding">My spell</h3>

			<h3>
				<button class="btn inline col-sm-3  btn-space" ng-click="resetLevel()">Clear</button>
				<button class="btn inline col-sm-3 btn-space" ng-click="runSpell(spellComponents)">Run</button>
				<button class="btn inline col-sm-3 btn-space" ng-click='stepThrough(spellComponents)'>Step</button>
				
			</h3>
		</div>
		<hr />
	</div>
	<div class="panel-body components dropspell">
		
	</div>


</div>
