<div class="panel">
	<div class="panel-heading">
		My spell
	</div>
	<div class="panel-body">
		<ul ui-sortable="spellConfig" ng-model="spellComponents" class="spellComponents spellBox">
		  <li ng-repeat="tool in spellComponents track by $index"><span class="{{tool.type}}">{{ tool.text }} <add-variable></add-variable><button ng-click="removeFromSpell($index)">X</button></span></li>
		</ul>
	</div>

	<div class="text-center center-block">
		<button class="btn" ng-click="resetLevel()">Clear</button>
		<button class="btn" ng-click="runSpell(spellComponents)">Run</button>
		<button class="btn" ng-click='stepThrough(spellComponents)'>Step</button>

	</div>
</div>
