<div class="panel">
	<div class="panel-heading">
		My spell
	</div>
	<div class="panel-body">
		<ul ui-sortable="spellConfig" ng-model="spellComponents" class="spellComponents spellBox">
		  <li ng-repeat="tool in spellComponents track by $index" class='{{tool.action}}'>
		  	<span class="{{tool.type}} spellTool">{{ tool.text }}: {{tool.direction}} {{tool.condition}}
		  		<add-variable tool='tool' removeFn='removeFromSpell'></add-variable>
		  		<div ui-sortable="dirComponentConfig" ng-model="dirStuff" class="spellCompVars dirBox {{tool.action}} spellCompExpr">
		  		</div>

		  		<button ng-click="removeFromSpell($index, spellComponents)">X</button>
		  	</span>
		  </li>
		</ul>
	</div>

	<div class="text-center center-block">
		<button class="btn" ng-click="resetLevel()">Clear</button>
		<button class="btn" ng-click="runSpell(spellComponents)">Run</button>
		<button class="btn" ng-click='stepThrough(spellComponents)'>Step</button>

	</div>
</div>
