<div class="panel">
	
	<div class="panel-heading">
		<div class="clearfix">
			<h3 class="inline col-sm-5 col-xs-12 btnpadding">My spell</h3>

			<h3 class="text-center center-block col-sm-7 col-xs-12">
				<button class="btn inline" ng-click="resetLevel()">Clear</button>
				<button class="btn inline" ng-click="runSpell(spellComponents)">Run</button>
				<button class="btn inline" ng-click='stepThrough(spellComponents)'>Step</button>

			</h3>
		</div>
		<hr />
		<p>Drop actions below</p>
	</div>
	<div class="panel-body components">
		<ul ui-sortable='toolConfig' ui-sortable="spellConfig"  ng-model="spellComponents" class="spellComponents spellBox">
 		  <li ng-repeat="tool in spellComponents track by $index" class='{{tool.action}}'>
		  	<action-tools ng-if="tool.action === 'pickUp' || tool.action==='tell' || tool.action==='give' || tool.action==='ask'" actiontool="tool" model="dirStuff" index="$index" parent="spellComponents" remove="removeFromSpell"></action-tools>
		  	<move-tool ng-if="tool.action==='move'" movetool="tool" model="dirStuff" index="$index" parent="spellComponents" remove="removeFromSpell"></move-tool>
		  	<logic-tools ng-if="tool.action === 'ifStatement' || tool.action === 'whileLoop' || tool.action==='forLoop'" logictool="tool" model="dirStuff" index="$index" parent="spellComponents" remove="removeFromSpell"></logic-tools>
		  	
		  </li>
		</ul>
	</div>


</div>
