admin-users{

	.panel-heading{
		background-color:#8ca252;
	}

	.panel-body{
		background-color:rgba(#8ca252, 0.2);

	}
}

admin-stories{
	.panel-heading{
		a{
			color:black !important;
			}
		background-color:#6baed6;
	}

	.panel-body{
		background-color:rgba(#6baed6, 0.2);

	}
}

admin-stats{
	
	.progress{
		.progress-bar-default{
			background-color:#6baed6 !important;
			}
	}
}