$purple: #8843b9;
$turqoise: #18b8c2;
$green: #b8f166;

tool-box, spell, add-variable, next-tool-box, new-spell{

	.panel{
		background-color:transparent;
		border:none;
		box-shadow:none;

		&.tool{
			background-color: transparent;
			border:2px solid $turqoise;
			padding: 0;
			margin-bottom:0;
		}	
	}

	li{
		list-style-type: none;

	}

	ul{
		padding:0;
		margin: 0;
	}


	.tool, .direction, .variable{
		padding:1vh;
		border-radius:5px;
		border:2px solid white;
		font-family:$font-title;
	}


	.ui-sortable>li {
		margin:1px;
	}

	.glyphicon-remove{
		cursor:pointer;
	}

	.first {
		cursor:copy;
		text-align:center;
	}

	.tool{
		background-color: $turqoise;
	}

	.inline{

		display:inline-block !important;
		width:auto !important;

		&.move{

				background-color:$purple !important;
				color:white;
				font-family: $font-default;
				text-align:center;
				margin-bottom:0;
			

		}

		&.pickUp, &.ifStatement, &.whileLoop, &.variable{
				background-color:$green !important;
				font-family: $font-default;
				text-align:center;
			

		}

		input{
			font-family: $font-default;
			text-align:center;
			width: 25% !important;

		}
	}

	.direction{
		background-color: $purple;
	}

	.variable{
		background-color: $green;
	}

	.panel-heading{
		font-family:$font-title;
		
		&.tool{
			margin:0;
			border:none;
			border-radius:1px;
		}
	}

	.btnpadding{
		padding:6px;
	}
	

	.btn-space{
		margin-right:1%;;
	}


	.panel-body{
		font-family: $font-default;

	}

	.dropspell{
		min-height: 30vh;
		border: 1px dashed $turqoise;
		border-radius:5px;
		padding:1%;
		margin:0% 2% 4% 0%;
	}

}