$purple: #8843b9;
$turqoise: #18b8c2;
$green: #b8f166;

tool-box, spell, add-variable{
	li{
		list-style-type: none;

	}

	ul{
		padding:0;
		margin: 0;
	}


	.tool, .direction, .variable{
		padding:1vh;
		border-radius:5px;
		border:2px solid white;
		font-family:$font-title;
	}

	.ui-sortable>li {
		border:2px solid white;
	}

	.glyphicon-remove{
		cursor:pointer;
	}

	.first {
		cursor:copy;
		text-align:center;
	}

	.tool{
		background-color: $turqoise;
	}

	.inline{

		display:inline-block !important;
		width:auto !important;

		&.move{

				background-color:$purple !important;
				font-family: $font-default;
				text-align:center;
				margin-bottom:0;
			

		}

		&.pickUp, &.ifStatement, &.whileLoop, &.variable{
				background-color:$green !important;
				font-family: $font-default;
				text-align:center;
			

		}

		input{
			font-family: $font-default;
			text-align:center;

		}
	}

	.direction{
		background-color: $purple;
	}

	.variable{
		background-color: $green;
	}

	.panel-heading.tool{
		margin:0;
		border:none;
		border-radius:1px;
	}

	.panel.tool{
		background-color: transparent;
		border:2px solid $turqoise;
		padding: 0;
		margin-bottom:0;
	}


	.panel-body{
		font-family: $font-default;

	}

}