<div class="spellTool panel {{actiontool.type}}">
		<div class="panel-heading {{actiontool.type}}">
	  		<span class="glyphicon glyphicon-remove pull-right" ng-click="remove(index, parent)"></span>

	  		<h4 class="inline">
	  			{{ actiontool.text.toUpperCase() }}
	  		</h4>

  		<div class="inline">
  			<p ng-if="actiontool.action !== 'pickUp'" ui-sortable="dirComponentConfig" ng-model="model" class="inline form-control spellCompVars dirBox {{actiontool.action}} variable spellCompExpr" data-index='{{index}}' data-array='{{parent}}'>
  				{{actiontool.person || 'Drop person here'}}
	  		</p>

	  		{{model}}

	  		<p ui-sortable="dirComponentConfig" ng-model="model" class="inline form-control spellCompVars dirBox {{actiontool.action}} variable spellCompExpr" data-index='{{index}}' data-array='{{parent}}'>
  				{{actiontool.variable || 'Drop item here'}}
	  		</p>
  		</div>


  	</div>

	</div>