  	<div class="spellTool panel {{movetool.type}}">
  		<div class="panel-heading {{movetool.type}}">
	  		<span class="glyphicon glyphicon-remove pull-right" ng-click="remove($index, parent)"></span>

	  		<h4 class="inline">
	  			{{ movetool.text.toUpperCase() }}
	  		</h4>

	  		<div class="inline">

	  			<p ui-sortable="dirComponentConfig" ng-model="model" class="inline form-control spellCompVars dirBox {{movetool.action}} spellCompExpr" data-index='{{index}}' data-array='{{parent}}'>
	  				{{movetool.direction || 'Drop direction here'}}
		  		</p>

		  		<input type="Number" ng-model="movetool.distance" class="inline form-control"/>

	  		</div>


	  	</div>
  	</div>