<div class="panel">
    <div class="panel-heading">
        <div class="clearfix">
            <h3 ng-if="!makingNewLevel" class="btnpadding">My Tools</h3>
            <h3 ng-if="makingNewLevel">Tools available for this level</h3>
        </div>
        <hr />

    </div>
    <div class="panel-body">
        <div class="col-md-4 col-sm-12">
            <b>Tools</b>
            <ul ng-model="spellTools" ui-sortable="toolConfig" class="spellTools first">
                <li ng-repeat="tool in spellTools" class="tool" draggable>
                <span ng-if='makingNewLevel'class="glyphicon glyphicon-remove pull-right" ng-click="removeToolOrDir(tool, index, spellTools)"></span>
                <span class="">{{ tool.text }}</span></li>
            </ul>

		</div>
		<div class="col-md-4 col-sm-12">
			<b>Directions</b>
				<ul ng-model="directions" ui-sortable="dirConfig" class="spellDirs first">
		  			<li ng-repeat="tool in directions" class="direction" draggable="true">
		  			<span ng-if='makingNewLevel'class="glyphicon glyphicon-remove pull-right" ng-click="removeToolOrDir(tool, index, spellDirs)"></span>
		  			<span class="" >{{ tool.text }}</span></li>
		  		</ul>


        </div>
        <div class="col-md-4 col-sm-12">
            <b>Variables</b>
            <ul ng-model="spellVars" ui-sortable="dirConfig" class="spellVars first">
                <li ng-repeat="tool in spellVars track by $index" class="variable" draggable="true">
                <span ng-if='makingNewLevel'class="glyphicon glyphicon-remove pull-right" ng-click="removeItem(index, spellVars)"></span>
                <span class="">{{ tool.text.replace(re, ' ')}}</span></li>
            </ul>
        </div>
    </div>
</div>
