<div class="panel">
    <div class="panel-heading">
        <div class="clearfix">
            <h3 class="btnpadding">My Tools</h3>
        </div>
        <hr />

    </div>
    <div class="panel-body">
        <div class="col-md-4 col-sm-12">
            <b>Tools</b>
            <ul ng-model="spellTools" ui-sortable="toolConfig" class="spellTools first">
                <li ng-repeat="tool in spellTools" class="tool" draggable><span class="">{{ tool.text }}</span></li>
            </ul>

		</div>
		<div class="col-md-4 col-sm-12">
			<b>Directions</b>
				<ul ng-model="directions" ui-sortable="dirConfig" class="spellDirs first">
		  			<li ng-repeat="tool in directions" class="direction" draggable="true"><span class="" >{{ tool.text }}</span></li>
		  		</ul>


        </div>
        <div class="col-md-4 col-sm-12">
            <b>Variables</b>
            <ul ng-model="spellVars" ui-sortable="dirConfig" class="spellVars first">
                <li ng-repeat="tool in spellVars track by $index" class="variable" draggable="true"><span
                        class="">{{ tool.text.replace(re, ' ')}}</span></li>
            </ul>
        </div>
    </div>
</div>
