<div class="panel">
	<div class="panel-heading">
		My Tools
	</div>
	<div class="panel-body">
		<div class="col-md-4 col-sm-12">
			<b>Tools</b>
				<ul ui-sortable='sortableOptions' ng-model="spellTools">
		  			<li ng-repeat="tool in spellTools" draggable><span class="tool">{{ tool.text }}</span></li>
		  		</ul>

		</div>
		<div class="col-md-4 col-sm-12">
			<b>Directions</b>
				<ul ui-sortable='sortableOptions' ng-model="spellTools">
		  			<li ng-repeat="tool in directions" draggable><span class="direction" >{{ tool.text }}</span></li>
		  		</ul>

		</div>
		<div class="col-md-4 col-sm-12">
			<b>Variables</b>
				<ul ui-sortable='sortableOptions' ng-model="spellTools">
		  			<li ng-repeat="tool in spellVars track by $index" draggable><span class="variable" >{{ tool.text}}</span></li>
		  		</ul>

		</div>
		

	</div>
</div>