.level-editor{
	h1, h2, h3{
		font-family: $font-title;
	}

	md-input-container:not(.md-input-invalid).md-input-focused {
		label{
			color: $purple;
		}
		.md-input{
			border-color:$purple;
		}
	}

	.sprite-carousel{
		height:64px;
		width:64px;
		margin:30px auto auto auto;
	}

	.sprite-select{
		margin-top:10px;
	}

	.carousel{
		height:150px;
	}

	.carousel-indicators{
		display:none;
	}

	md-select, md-input{
		margin-top:0;
	}

	.turqoise{
		background: $turqoise;
	}

	.green{
		background: $green;
	}

	.purple{
		background: $purple;
		color:white;
	}

	p{
		font-family:$font-default;
	}

}
