<p><b>Add variable to board</b></p>

<div class="col-xs-12 col-md-4 carousel">
	<uib-carousel no-wrap="false" >
		<!--       <uib-slide ng-repeat="sprite in possSprites">
        <img ng-src="{{sprite.img}}" style="margin:auto;"/>
        <div ng-click='selectImg(sprite)' class=" button btn btn-default">Select</div>
      </uib-slide> -->
		<!--       <uib-slide ng-repeat="sprite in possSmSprites">
      	<div style='background:url(images/sprites.png) {{sprite.pos[0]*64}}px {{sprite.pos[1]*64}}px; width: 64px; height:64px'></div>
        <div ng-click='selectImg(sprite)' class=" button btn btn-default">Select</div>
      </uib-slide> -->
      <uib-slide ng-repeat="sprite in possSprites">
      	<div class='sprite-carousel' style='background:url({{sprite.imgUrl}}) {{0-sprite.imgPos[0]*64}}px {{0-sprite.imgPos[1]*64}}px'></div>
        <div ng-click='selectImg(sprite)' class="sprite-select green btn">Select</div>
      </uib-slide>
    </uib-carousel>
</div>
<div ng-show='newSprite.name' class='col-xs-12 col-md-8'>
<form name='addNewSprite' ng-submit='addNewSprite.$valid && saveSprite()' novalidate>
	<div class='col-xs-12 col-md-6'>
	<!---select type of variable-->
	<md-select class='col-xs-12' placeholder="Select type *" ng-model="newSprite.type" required>
 		<md-option ng-repeat='type in ["Collectible", "Obstacle", "Person"]' value='{{type}}'>{{type}}</md-option>
		</md-select>

		<!--select x & y pos-->
		<md-select class='col-sm-6 col-xs-12' placeholder="X*" ng-model="newSprite.pos[0]" required>
 			<md-option ng-repeat='num in boardLength()' value='{{num}}'>{{num}}</md-option>
		</md-select>
		<md-select class='col-sm-6 col-xs-12' placeholder="Y*" ng-model="newSprite.pos[1]" required>
 			<md-option ng-repeat='num in boardLength()' value='{{num}}'>{{num}}</md-option>
		</md-select>
	</div>

	<div class='col-xs-12 col-md-6'>
		<!--select name (from existing vars)-->
		<md-select class="col-xs-12" placeholder="Select name" ng-model="newSprite.varName">
	 		<md-option ng-repeat='name in spellVars' value='{{name.name}}'>{{name.name}}</md-option>
		</md-select>

		<!--select match-->
		<md-select class="col-xs-12" placeholder="Select condition" ng-model="newSprite.match">
	 		<md-option ng-repeat='variable in spellVars' value='{{variable.name}}'>{{variable.name}}</md-option>
		</md-select>

	</div>
	

	<div class="col-xs-12">

	<button class='green btn center-block text-center' type="submit">Add to gameboard</button>	    	
	</div>    	
</div>



</div>

		