@import url(https://fonts.googleapis.com/css?family=Happy+Monkey);
@import url(https://fonts.googleapis.com/css?family=Henny+Penny);

$font-default: 'Happy Monkey', cursive;
$font-title: 'Henny Penny', cursive;
* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  font-family: $font-default;
}

body, html {
  background: none !important;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 4%;
  width: 100%;
  margin: 0 auto;
  position:relative;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'page/main';
@import 'user/main';
@import 'book/main';
@import 'admin/main';
