<div id="addTheStory" class="panel">
  <div class="panel-heading">
    <h3 class="text-center">Create Your Own SpellBook</h3>
  </div>

  <form class="panel-body" name="newStory" role="form" ng-submit='newStory.$valid && createStory()' novalidate>
    <div class="col-md-8 col-sm-12">
      <div class="control-group" ng-class="{'has-error':newStory.title.$dirty && newStory.title.$invalid || newStory.title.$invalid && newStory.$submitted}">
        <label for="title" class="control-label">
          Story Title<span class="required">*</span>
        </label>
        <div class="controls">
          <input ng-model="title" name="title" type="text" value="" class="form-control" id="title" name="title" required>
        </div>
      </div>

      <div class="control-group" ng-class="{'has-error':newStory.description.$dirty && newStory.description.$invalid || newStory.description.$invalid && newStory.$submitted}">
        <label for="description" class="control-label">
          Story Description<span class="required">*</span>
        </label>
        <div class="controls">
          <input ng-model="description" name="description" class="form-control" type="text" value="" id="description" name="description" ng-maxlength="100" required>
        </div>
      </div>

      <div class="control-group" ng-class="{'has-error':newStory.difficulty.$invalid && newStory.difficulty.$dirty}">
        <label for="difficulty" class="control-label">
          Story Difficulty (1-10)
        </label>
        <div class="controls">
          <input ng-model="difficulty" name="difficulty" type="number" min="0" max="10" value="" class="form-control" id="difficulty">
        </div>
      </div>

      <div class="control-group">
        <label for="cover" class="control-label">
          Story Cover Image
        </label>
        <div class="controls">
          <input ng-model="cover" name="cover" type="text" value="" id="cover" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="control-group concepts">
        <label for="concepts" class="control-label">
          Story Concepts
        </label>
          <label ng-repeat="concept in possibleConcepts" ng-model="concepts" name="concepts" class="checkboxesDiv">
            <input type="checkbox" name="{{concept}}" id="{{concept}}" ng-model="concept.checked" ng-change="selectedConcepts(concept); logConcepts()">
            <label class="checkboxes" for="{{concept.name}}">{{concept.name}}</label>
          </label>
      </div>

    </div>

  
    <div class="clearfix"></div>
    <button type="submit" class="btn btn-large create-btn text-center center-block"><h4>Create Story</h4></button>


  </form>
</div>
