<div class="panel">
  <div class="panel-heading">
    <h3 class="text-center">Create Your Own SpellBook</h3>
  </div>

  <form id="addTheStory" class="panel-body center-block" name="newStory" role="form" ng-submit='newStory.$valid && createStory()' novalidate>
    <div class="col-sm-offset-2 col-sm-8">
      <div class="control-group" ng-class="{'has-error':newStory.title.$dirty && newStory.title.$invalid || newStory.title.$invalid && newStory.$submitted}">
        <div class="controls">
          <input ng-model="title" name="title" type="text" value="" class="form-control" id="title" name="title" placeholder="Story Title" required>
        </div>
      </div>

      <div class="control-group" ng-class="{'has-error':newStory.description.$dirty && newStory.description.$invalid || newStory.description.$invalid && newStory.$submitted}">

        <div class="controls">
          <textarea ng-model="description" name="description" class="form-control" value="" id="description" name="description" ng-maxlength="100" placeholder="Story Description" required></textarea>
        </div>
      </div>

      <div class="control-group" ng-class="{'has-error':newStory.difficulty.$invalid && newStory.difficulty.$dirty}">
        <div class="controls">
          <input ng-model="difficulty" name="difficulty" type="number" min="0" max="10" value="" class="form-control" id="difficulty" placeholder="Story Difficulty (1-10)">
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <input ng-model="cover" name="cover" type="text" value="" id="cover" class="form-control"placeholder="Story Cover Image">
        </div>
      </div>
    </div>
   <!--  <div class="col-md-4 col-sm-12">
      <div class="control-group concepts">
        <label for="concepts" class="control-label">
          Story Concepts
        </label>
          <label ng-repeat="concept in possibleConcepts" ng-model="concepts" name="concepts" class="checkboxesDiv">
            <input type="checkbox" name="{{concept}}" id="{{concept}}" ng-model="concept.checked" ng-change="selectedConcepts(concept); logConcepts()">
            <label class="checkboxes" for="{{concept.name}}">{{concept.name}}</label>
          </label>
      </div>

    </div> -->

  
    <div class="clearfix"></div>
    <button type="submit" class="btn btn-large create-btn text-center center-block"><h4>Create Story</h4></button>


  </form>
</div>
