
	<div class="">
		<ul ui-sortable="dirComponentConfig" ng-model="tool.expressions" class="spellComponentDirs dirBox spellCompExpr">
		  <li ng-repeat="variable in tool.expressions track by $index" class="{{variable.type}}">
		  	<div class="panel {{variable.type}}">
		  		<div class="panel-heading {{variable.type}}">
					{{ variable.text.toUpperCase() }}
					<span class="glyphicon glyphicon-remove pull-right" ng-click="removeFromTool($index, tool.expressions)"></span>

					<div ng-if="variable.action == 'pickUp'" class="inline">
			  			<p class='spellCompExpr inline form-control {{variable.action}}'ui-sortable='dirComponentConfig' ng-model='variable.expressions'data-index='$index'>
			  				{{variable.variable || 'Drop item here'}}
				  		</p>

			  		</div>
		  		</div>

		  		<div class="panel-body" ng-if="variable.action !== 'pickUp'">
					<ul class='panel-body spellCompExpr'ui-sortable='dirComponentConfig' ng-model='variable.expressions'data-index='$index'>
					  	<li ng-repeat='thing in variable.expressions track by $index' class="{{thing.type}}"><span class=''>{{ thing.text }}</span>

					  		
					  		<button ng-click="removeFromTool($index, variable.expressions)">X</button>
					  	</li>
				  	</ul>

		  		</div>
		  	</div>


		  	
			  
		  </li>
		</ul>
	</div>


<!-- track by $index -->

<!--
<li ng-repeat="variable in tool.expressions track by $index"><span class="{{variable.type}}">{{ variable.text }}<button ng-click="removeFromTool($index)">X</button></span></li>